<%= form_for @stock, :html => {:class => "form-search"} do |f| %>
  <% if @stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% @stock.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :ticker, :class => "input-medium search-query", :placeholder => 'Symbol' %>
  <%= f.submit 'Lookup', :class => "btn" %>

<% end %>
