<h1>Stock Info</h1>

<% YahooFinance::STDHASH.each do |key, value| %>
<p>
  <b><%= value[0]%></b>
  <%=raw @quote.send value[0].to_sym %>
</p>
<% end %>

<% if current_user %>

  <%= form_tag(transaction_user_path(current_user)) do %>

  <%= submit_tag "Buy", :name => 'buy', :class =>"btn" %>
  <%= submit_tag "Sell", :name => 'sell', :class =>"btn" %>

  <br />

  <%= hidden_field_tag 'symbol', @stock.ticker %>

  <%= label_tag(:shares, "Shares:") %>
  <%= text_field_tag(:shares) %>

  <% end %>
<% end %>

<%= link_to 'Back', stocks_path %>

<h1>Top tweets</h1>

<table>
  <% @tweets.each do |t| %>
    <tr>
      <th><%= t.user.name %></th>
      <th><img src="<%= t.user.profile_image_url %>" /></th>
      <th><%= t.text %></th>
    </tr>
  <% end %>
</table>
