<h1>Stock Holdings</h1>
<table border="1">
  <tr>
    <th>Symbol</th>
    <th>Shares</th>
  </tr>
  <% @user.stock_holdings.each do |s| %>
    <tr>
      <th><%= link_to s.stock.ticker, s.stock %></th>
      <th><%= s.shares %></th>
    </tr>
  <% end %>
</table>

<h1>Stock Transactions</h1>
<table border="1">
  <tr>
    <th>Buy/Sell</th>
    <th>Symbol</th>
    <th>Shares</th>
    <th>Value</th>
  </tr>
<% @user.stock_transactions.each do |t| %>
  <tr>
    <th><%= t.transaction_type %></th>
    <th><%= link_to t.stock.ticker, t.stock %></th>
    <th><%= t.shares %></th>
    <th><%= t.value %></th>
  </tr>
<% end %>
</table>