<h1>Stock Holdings</h1>
<table border="1">
  <tr>
    <th>Symbol</th>
    <th>Shares</th>
  </tr>
  <% @user.stock_holdings do |s| %>
    <tr>
      <th><%= s.stock.ticker %></th>
      <th><%= s.shares %></th>
    </tr>
  <% end %>
</table>

<h1>Stock Transactions</h1>
<table border="1">
  <tr>
    <th>Buy/Sell</th>
    <th>Symbol</th>
    <th>Shares</th>
    <th>Value</th>
  </tr>
<% @user.stock_transactions do |t| %>
  <tr>
    <th><%= t.type %></th>
    <th><%= t.stock.ticker %></th>
    <th><%= t.shares %></th>
    <th><%= t.value %></th>
  </tr>
<% end %>
</table>