<ul class="nav">

  <li><%= link_to "Home", root_path, :class => 'brand' %></li>

  <% if current_user %>
  
    <li><p class="navbar-text">Logged in as <%= current_user.email %></p></li>

  <% else %>

    <li><%= link_to "Sign up", sign_up_path %></li>

  <% end %>
  
  <% if current_user %>

    <li><%= link_to "Log out", log_out_path %></li>
  
  <% else %>

    <li><%= link_to "Log in", log_in_path %></li>

  <% end %>
  
</ul>